.popup__submit_disabled {
  opacity: 0.2;
  background-color: transparent;
  color: #000000;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
