.card__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 210px;
}

@media (max-width: 640px) {
  .card__title {
    max-width: 70vw;
  }
}
