.profile {
    box-sizing: border-box;
    max-width: 880px;
    padding: 40px 0 51px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media screen and (max-width:720px) {
    .profile {
        flex-direction: column;
        padding-top: 42px;
    }
}