.elements {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  row-gap: 20px;
  -webkit-column-gap: 17px;
  -moz-column-gap: 17px;
  column-gap: 17px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 934px) {
  .elements {
    max-width: 680px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .elements {
    display: block;
  }
}
