.popup__save-button {
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popup__save-button:hover:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 640px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 1.21;
    width: 238px;
    height: 46px;
  }
}
